<template>
  <div :class="inputContainerClass">
    <div :class="labelDivClass">
      {{ label }}
    </div>
    <div :class="inputDivClass">
      <input
        :class="inputClass"
        :placeholder="placeholder"
        :value="initValue"
        :disabled="disable"
        @keyup.enter="onTypeEnter"
        @keyup="keyupHandler"
        @input="keyInput($event)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CompInput',
  props: {
    useLabel: {
      type: Boolean,
      default: true,
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    disable: {
      type: Boolean,
      default: false,
    },
    initValue: {
      type: String,
      required: false,
      default: '',
    },
    labelDivClass: {
      type: String,
      required: false,
      default: '',
    },
    inputDivClass: {
      type: String,
      required: false,
      default: '',
    },
    inputClass: {
      type: String,
      required: false,
      default: '',
    },
    inputContainerClass: {
      type: String,
      required: false,
      default: '',
    },
  },
  // data: () => ({
  //   data: ''
  // }),
  watch: {
    // data: {
    //   handler (val) {
    //     this.feedbackParent(val)
    //   },
    //   deep: true
    // },
    initValue(val) {
      this.data = val
    },
  },
  mounted() {
    this.data = this.initValue
  },
  methods: {
    // feedbackParent (val) {
    //   this.$emit('onChange', val)
    // },
    onTypeEnter() {
      this.$emit('onTypeEnter')
    },
    keyupHandler() {
      this.$emit('keyupHandler')
    },
    keyInput(e) {
      this.$emit('onChange', e.target.value)
    },
  },
}
</script>
