<template>
  <div :class="divClass">
    <button
      type="button"
      :class="[getType, getRounded, 'w-full', buttonClass, getDisabled]"
      @click="onClick"
    >
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: 'CompButton',
  props: {
    divClass: {
      type: String,
      default: '',
    },
    rounded: {
      type: Boolean,
      default: false,
    },
    buttonClass: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    getType() {
      if (this.inverse) {
        return `bg-${this.type} border-${this.type} text-${this.type} bg-opacity-25`
      } else {
        return `bg-${this.type} border-${this.type} hover:bg-${this.type}-200 text-white`
      }
    },
    getRounded() {
      if (this.rounded) {
        return 'rounded-md'
      }
      return ''
    },
    getDisabled() {
      if (this.disabled) {
        return 'cursor-not-allowed'
      }
      return ''
    },
  },
  methods: {
    onClick() {
      if (this.disabled) {
        return
      }
      this.$emit('onClick')
    },
  },
}
</script>

<style scoped>
.button-primary {
  @apply bg-primary border-primary text-white;
}
.button-primaryhover {
  @apply bg-blue-500;
}
.button-home {
  @apply bg-warning border-warning text-white;
}
.button-home:hover {
  @apply bg-opacity-75;
}
.button:hover {
  opacity: 0.7;
}
.button:focus {
  outline: none;
}
</style>
