<template>
  <div :class="divClass">
    <button
      :disabled="disabled"
      type="button"
      :class="[getRounded, 'w-full', buttonClass, getDisabled]"
      @click="onClick"
    >
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: 'CompButton',
  props: {
    divClass: {
      type: String,
      default: '',
    },
    rounded: {
      type: Boolean,
      default: false,
    },
    buttonClass: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    getRounded() {
      if (this.rounded) {
        return 'rounded-md'
      }
      return ''
    },
    getDisabled() {
      if (this.disabled) {
        return ''
      }
      return ''
    },
  },
  methods: {
    onClick() {
      if (this.disabled) {
        return
      }
      this.$emit('onClick')
    },
  },
}
</script>

<style scoped>
.button-primary {
  @apply bg-primary border-primary text-white;
}
.button-primaryhover {
  @apply bg-blue-500;
}
.button-bigStone {
  @apply border border-2 border-bigStone;
}
.button:hover {
  opacity: 0.7;
}
.button:focus {
  outline: none;
}
</style>
