<template>
  <div class="index-game w-full flex flex-col justify-center items-center">
    <div class="card rounded-md m-8 py-3 px-10">
      <div class="container flex flex-col">
        <div class="mt-4 mb-4 font-semibold text-base flex justify-center">
          <span
            v-if="board.isPlayer1 && !roundWon && !roundDraw"
            class="text-primary"
            >Player 1 turn.</span
          >
          <span v-if="!board.isPlayer1 && !roundWon && !roundDraw">
            <span v-if="!board.singlePlayer" class="text-error"
              >Player 2 turn.</span
            >
            <span v-else class="text-error">Computer turn.</span>
          </span>
          <span v-if="roundWon">
            <span
              v-if="!board.isPlayer1 && !board.singlePlayer"
              class="text-success"
            >
              Player 2 win!</span
            >
            <span
              v-if="!board.isPlayer1 && board.singlePlayer"
              class="text-success"
            >
              Computer win!</span
            >
            <span v-if="board.isPlayer1" class="text-success">
              Player 1 win!</span
            >
          </span>
          <span v-if="roundDraw" class="text-success"> Round Draw! </span>
        </div>
        <div class="mt-4 mb-4 font-semibold text-base flex justify-center">
          <comp-button
            div-class="w-40"
            button-class="button button-home py-1 px-4 border rounded font-light tracking-normal"
            @onClick="onClickNewGame"
          >
            New Game
          </comp-button>
        </div>
        <div class="game-content mt-16 mb-16 flex justify-center">
          <div
            v-for="(totalBoard, index) in totalBoard"
            :key="index"
            class="game-board"
          >
            <div
              v-if="board.boardValue[index] === ''"
              class="board-cell w-20 h-20 flex"
            >
              <game-button
                div-class="w-full h-full"
                button-class="button button-bigStone h-full font-light tracking-normal"
                :disabled="buttonDisabled[index]"
                @onClick="boardClicked(index)"
              >
              </game-button>
            </div>
            <div v-else class="board-cell w-20 h-20 flex">
              <game-button
                div-class="w-full h-full"
                button-class="button button-bigStone h-full font-black text-3xl tracking-normal"
                :disabled="buttonDisabled[index]"
              >
                <span
                  v-if="board.boardValue[index] === 'X'"
                  class="text-primary"
                  >{{ board.boardValue[index] }}</span
                >
                <span v-else class="text-error">{{
                  board.boardValue[index]
                }}</span>
              </game-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import { mapGetters } from 'vuex'
export default {
  layout: 'default',
  data: () => ({
    totalBoard: 0,
    player1: 'X',
    player2: 'O',
    buttonDisabled: [],
    board: {},
    winnermapping: [],
    roundWon: false,
    roundDraw: false,
  }),
  async created() {
    await this.getInitialBoard()
    await this.winningConditionMapping()
    await this.initiateBoardCss()
  },
  methods: {
    async onClickNewGame() {
      await this.$store.dispatch('gameinit/setNewGame')
      await this.$router.push('/')
    },

    async initiateBoardCss() {
      // initiate carboard mapping
      const board = await document.getElementsByClassName('game-content')
      board[0].style.gridTemplateColumns = await `repeat(${this.board.x}, auto)`
    },

    async getInitialBoard() {
      // get gameboard data from home and parse it to board values
      this.board = await this.$store.getters['gameinit/gameBoard']
      this.totalBoard = (await this.board.x) * this.board.y
      if (this.board.boardValue.length === 0) {
        for (let i = 0; i < this.totalBoard; i++) {
          await this.board.boardValue.push('')
          await this.buttonDisabled.push(false)
        }
      }
    },
    // create winning condition based on board maps
    async winningConditionMapping() {
      // x row
      for (let i = 0; i < this.board.x; i++) {
        let temp = []
        for (let j = 0; j < this.board.y; j++) {
          await temp.push(i * this.board.y + j)
        }
        this.winnermapping.push(temp)
      }
      // y row
      for (let i = 0; i < this.board.x; i++) {
        let temp = []
        for (let j = 0; j < this.board.y; j++) {
          await temp.push(i + j * this.board.y)
        }
        this.winnermapping.push(temp)
      }
      // diagonal row
      let index = 0
      let tempDiagonal1 = []
      for (let i = 0; i < this.board.x; i++) {
        for (let j = 0; j < this.board.y; j++) {
          if (i === j) await tempDiagonal1.push(index)
          index += 1
        }
      }
      await this.winnermapping.push(tempDiagonal1)
      // diagonal row
      let indey = 0
      let tempDiagonal2 = []
      for (let i = this.board.x - 1; i >= 0; i--) {
        for (let j = 0; j < this.board.y; j++) {
          if (i === j) await tempDiagonal2.push(indey)
          indey += 1
        }
      }
      await this.winnermapping.push(tempDiagonal2)
    },

    async boardClicked(index) {
      // dual player
      if (!this.board.singlePlayer && this.buttonDisabled[index] !== true) {
        if (this.board.isPlayer1) {
          await this.player1Turn(index)
        } else {
          await this.player2Turn(index)
        }
        this.buttonDisabled[index] = await true
      }
      // single player
      else if (this.board.singlePlayer && this.buttonDisabled[index] !== true) {
        if (this.board.isPlayer1) {
          await this.player1Turn(index)
          this.buttonDisabled[index] !== true
          await this.computerTurn()
        }
      }
    },

    async computerTurn() {
      // mapping board slot for computer turn
      if (!this.roundWon && !this.roundDraw) {
        // mapping current state to valueMapping
        let valueMapping = await this.valueMapping()
        let indexHasX = []
        // trace valueMapping has X
        for (let i = 0; i < valueMapping.length; i++) {
          const valueX = await valueMapping[i].reduce((acc, val) => {
            return val === 'X' ? acc + 1 : acc
          }, 0)
          const valueEmpty = await valueMapping[i].reduce((acc, val) => {
            return val === '' ? acc + 1 : acc
          }, 0)
          if (valueX !== 0 && valueEmpty !== 0) {
            indexHasX.push({ index: i, count: valueX })
          }
        }

        // sorting indexHasX on max X
        await indexHasX.sort(function (a, b) {
          if (b.count < 3) return b.count - a.count
        })

        // grouping same max x
        let countTarget = await indexHasX[0].count

        for (let i = indexHasX.length - 1; i >= 0; i--) {
          if (indexHasX[i].count !== countTarget) {
            await indexHasX.splice(i, 1)
          }
        }

        // valueMapping has empty value
        let indexHasEmpty = []
        for (let i = 0; i < indexHasX.length; i++) {
          const value = await valueMapping[indexHasX[i].index].reduce(
            (acc, val) => {
              return val === '' ? acc + 1 : acc
            },
            0
          )
          if (value !== 0) indexHasEmpty.push(indexHasX[i].index)
        }

        // array for this.winnermapping
        let pickArr = indexHasEmpty.sort(() => Math.random() - 0.5)[0]

        // sorting targeted this.winnermapping has empty string
        let winnerHasEmpty = []
        for (let i = 0; i < valueMapping[pickArr].length; i++) {
          if (valueMapping[pickArr][i] === '') {
            winnerHasEmpty.push(i)
          }
        }
        // random pick exact last array of this.winnermapping targeted
        let pickString = winnerHasEmpty.sort(() => Math.random() - 0.5)[0]

        // execute pick board
        await setTimeout(
          () => this.player2Turn(this.winnermapping[pickArr][pickString]),
          2000
        )
      }
    },

    async player1Turn(index) {
      this.board.boardValue[index] = await this.player1
      await this.gameWinner(this.player1)
    },

    async player2Turn(index) {
      this.board.boardValue[index] = await this.player2
      this.gameWinner(this.player2)
    },

    async valueMapping() {
      // mapping current state to valueMapping
      let valueMapping = []
      for (let i = 0; i < this.winnermapping.length; i++) {
        let minimap = []
        for (let j = 0; j < this.winnermapping[i].length; j++) {
          minimap.push(this.board.boardValue[this.winnermapping[i][j]])
        }
        valueMapping.push(minimap)
      }
      return valueMapping
    },

    async gameWinner(playerValue) {
      // check for game draw
      const drawValue = await this.board.boardValue.reduce((acc, val) => {
        return val === '' ? acc + 1 : acc
      }, 0)
      if (drawValue === 0) {
        this.roundDraw = !this.roundDraw
      }
      // mapping current state to valueMapping
      let valueMapping = await this.valueMapping()

      // searching for game winner with array reduce
      for (let i = 0; i < valueMapping.length; i++) {
        const value = await valueMapping[i].reduce((acc, val) => {
          return val === playerValue ? acc + 1 : acc
        }, 0)
        // determine the winner based on boards
        if (this.board.x > 3) {
          if (value === 4) {
            this.roundWon = true
          }
        } else {
          if (value === this.board.x) {
            this.roundWon = true
          }
        }
      }
      if (!this.roundWon) {
        // let game continue if there is no winner
        this.board.isPlayer1 === true
          ? (this.board.isPlayer1 = await false)
          : (this.board.isPlayer1 = await true)
        await this.$store.dispatch('gameinit/setGameBoard', this.board)
      } else {
        // stops the board
        for (let i = 0; i < this.buttonDisabled.length; i++) {
          this.buttonDisabled[i] = true
        }
        await this.$store.dispatch('gameinit/setNewGame')
      }
    },
  },
}
</script>
<style scoped>
.card {
  @apply bg-porcelain rounded-md border border-porcelain;
}
.game-content {
  display: grid;
}
</style>
