<template>
  <div
    class="index-container w-full flex flex-col h-screen justify-center items-center"
  >
    <div class="card w-2/3 lg:w-1/2 rounded-md p-8">
      <div class="title w-full flex flex-row justify-center pt-2 font-bold">
        <h1 class="flex text-center text-sm md:text-xl lg:text-3xl">
          Welcome to <br />
          Tic Tac Toe Game!
        </h1>
      </div>
      <div class="content w-full flex flex-row justify-center mt-1">
        <div
          class="card flex flex-col justify-center rounded-md border border-black"
        >
          <div
            class="title w-full flex text-center justify-center pt-8 text-xl font-semibold"
          >
            Please Measure the square : <br />
            (please don't go above 15 x 15)
          </div>
          <div
            class="flex justify-center h-10 mt-2 text-sm text-error font-semibold"
          >
            <span v-if="errorInput">{{ errorInput.message }}</span>
          </div>
          <comp-input
            :use-label="true"
            :input-container-class="`input-container flex flex-row mx-auto p-2`"
            label="Cols :"
            :label-div-class="`text-md`"
            :input-div-class="`ml-2 text-md`"
            :input-class="`w-20 border border-black rounded-sm`"
            @onChange="
              (val) => {
                board.x = parseInt(val)
              }
            "
          />
          <comp-input
            :use-label="true"
            :input-container-class="`input-container flex flex-row mx-auto p-2`"
            label="Rows :"
            :label-div-class="`text-md`"
            :input-div-class="`ml-2 text-md`"
            :input-class="`w-20 border border-black rounded-sm`"
            @onChange="
              (val) => {
                board.y = parseInt(val)
              }
            "
          />

          <div class="radio mx-auto">
            <div class="text-md flex flex-col p-2">
              <div class="p-1">
                <input
                  type="radio"
                  v-model="board.singlePlayer"
                  value="false"
                />
                <span
                  class="text-sm cursor-pointer"
                  @click="
                    () => {
                      board.singlePlayer = false
                    }
                  "
                  >VS Player 2</span
                >
              </div>
              <div class="p-1">
                <input type="radio" v-model="board.singlePlayer" value="true" />
                <span
                  class="text-sm cursor-pointer"
                  @click="
                    () => {
                      board.singlePlayer = true
                    }
                  "
                  >VS Computer</span
                >
              </div>
              <br />
            </div>
          </div>
          <comp-button
            div-class="mx-auto w-40"
            button-class="button button-primary py-1 px-4 border rounded font-light tracking-normal"
            @onClick="onClickSubmit"
          >
            Play!
          </comp-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'unauth',
  data: () => ({
    board: {
      x: 0,
      y: 0,
      singlePlayer: false,
      boardValue: [],
      isPlayer1: true,
    },
    errorInput: {
      status: false,
      message: '',
    },
  }),

  methods: {
    async onClickSubmit() {
      if (isNaN(this.board.x) || isNaN(this.board.y)) {
        this.errorInput.status = true
        this.errorInput.message = 'The input must a number!'
      } else if (this.board.x !== this.board.y) {
        this.errorInput.status = true
        this.errorInput.message = 'You must input same input on X and Y!'
      } else if (this.board.x < 3 && this.board.y < 3) {
        this.errorInput.status = true
        this.errorInput.message = 'The input must same or greater than 3!'
      } else if (this.board.x % 2 === 0 || this.board.y % 2 === 0) {
        this.errorInput.status = true
        this.errorInput.message = 'The input must odd number!'
      } else {
        await this.$store.dispatch('gameinit/setGameBoard', this.board)
        await this.$router.push('/games')
      }
    },
  },
}
</script>

<style scoped>
.card {
  @apply bg-porcelain rounded-md border border-porcelain;
}
</style>
